<Limber::Editor::State as |state|>

  {{#if (state.matches 'editingWithMonaco')}}

    {{#let (service 'editor') as |context|}}
      <div
        {{this.monaco context.text context.updateText setValue=context.swapText}}
        class="
          font-sm font-mono bg-gray-800 text-white
          border border-gray-900
        "
        ...attributes
      >{{context.text}}</div>
    {{/let}}

  {{else if (state.matches 'editingWithCodeMirror')}}

    Code Mirror

  {{else}}
    <div class="relative border border-gray-900 bg-gray-800" ...attributes>

      {{#if (or (state.matches 'loadMonaco') (state.matches 'loadCodeMirror'))}}
        <Limber::Editor::Loader />
      {{/if}}

      {{#if (state.matches "error")}}
        <Limber::Editor::LoadingError @error={{state.context.error}} />
      {{/if}}

      <Limber::Editor::Placeholder />
    </div>
  {{/if}}

</Limber::Editor::State>
