{{#let (service 'editor') as |context|}}
  {{#if this.isEditing}}
    <div
      {{monaco context.text context.updateText setValue=context.swapText}}
      class="
        font-sm font-mono bg-gray-800 text-white
        border border-gray-900
      "
      ...attributes
    >{{context.text}}</div>
  {{else}}
    <textarea
      {{this.waitForUser}}
      readonly
      spellcheck="false"
      class="
        px-6 py-2 max-h-full resize-x
        font-sm font-mono bg-gray-800 text-white
        border border-gray-900"
      ...attributes
    >{{context.text}}</textarea>
  {{/if}}
{{/let}}