<Limber::Portals />

<main class="grid grid-flow-col h-screen max-h-screen grid grid-rows-editor">
  {{#if (not (in-iframe))}}
    <Limber::Header />
  {{/if}}

  <ContainerQuery
    @features={{hash horizontalSplit=(cq-aspect-ratio max=1)}}
    {{! grid forces all the contents to take up all available vertical space }}
    class="grid"
    as |query|
  >
    {{log query.features}}
    <div
      {{! row = left to right, col = top to bottom }}
      class="
        {{if query.features.horizontalSplit "flex-col" "flex-row"}}
        flex overflow-hidden"
    >
      <Limber::EditorContainer @splitHorizontally={{query.features.horizontalSplit}} />

      {{! template-lint-disable no-inline-styles }}
      <section
        class="flex-1 shadow-inner grid overflow-hidden relative"
        style="grid-template-rows: min-content 1fr;"
      >
        {{#if (not (in-iframe))}}
          <Limber::Navigation />
        {{/if}}

        <div
          class="overflow-auto relative bg-white"
          {{constrain-vertically}}
          data-test-output
        >
          {{outlet}}
        </div>

        <Limber::Building />
        <Limber::Error />
      </section>
    </div>
  </ContainerQuery>

</main>