{{#let (service 'editor') as |context|}}
  {{#if this.isEditing}}
    <div
      {{this.monaco context.text context.updateText setValue=context.swapText}}
      class="
        font-sm font-mono bg-gray-800 text-white
        border border-gray-900
      "
      ...attributes
    >{{context.text}}</div>
  {{else}}
    <div class="relative border border-gray-900 bg-gray-800" ...attributes>
      {{#if this.isLoading}}
        {{!-- template-lint-disable no-inline-styles --}}
        <div
          class="
            z-10 absolute inset-0 grid
            items-center content-center text-center
            bg-gray-800 bg-opacity-40
            text-white text-3xl font-semibold
          "
        >
          Loading Editor...
        </div>
      {{/if}}

      <label class="sr-only" for="initial-editor">
        Glimmer + Markdown Code Editor
      </label>

      <textarea
        {{this.waitForUser}}
        readonly
        id="initial-editor"
        spellcheck="false"
        class="w-full h-full bg-gray-800 px-6 py-2 font-sm font-mono text-white"
      >{{context.text}}</textarea>
    </div>
  {{/if}}
{{/let}}