{{page-title "Limber"}}

<main class="flex gap-4">
  <section class="h-full">
    <textarea class="h-full w-full" {{on 'change' this.updateText}}>
      {{this.text}}
    </textarea>
    <button class="bg-black text-white" {{on 'click' this.makeComponent}}>Compile!</button>
  </section>

  <section class="prose">
    {{#if this.component}}
      {{component this.component}}
    {{/if}}
  </section>

</main>